.header {
    height: 13vh;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: white;
    
}
.header_navbar {
    display: grid;
    justify-content: center;
    font-size: 2.4vh;
}
.barra_de_navegacion {
    margin-left: 5vw;
}
.header_imagen {
    display: grid;
    width: 23vw;
    align-items: center;
    margin-top: 3vh;
}
.contenedor-carrito {
    margin-left: 5vw;
}
.buscador {
    margin-left: 16vw;
}
.imagen-carrito {
    height: 4vh;
}
.card-imagen {
    height: 20vh;
    width: 8vw;
    border-bottom: solid 1px grey;
}
.carrito-imagen {
    width: 6vw;
}
.contenedor-repuestos {
    margin-bottom: 20vh;
}
.filtro {
    display: none;
}
.carritoTemporal {
    display: grid;
    justify-content: center;
    padding-bottom: 40px;
    font-size: 2.4vh;
 }
.tacho:hover {
    opacity: 0.6;
}