.header {
    height: 13vh;
    display: grid;
    justify-content: center;
    align-items: center;
    background-color: white;
    
}
.header_navbar {
    display: grid;
    justify-content: center;
    font-size: 2.4vh;
}
.barra_de_navegacion {
    margin-left: 5vw;
}
.header_imagen {
    display: grid;
    width: 23vw;
    align-items: center;
    margin-top: 3vh;
}
.buscador {
    margin-left: 18vw;
}
.contenedor-carrito {
    margin-left: 5vw;
}
.contenedor-repuestos {
    margin-bottom: 20vh;
}
.buscador_size {
    padding: 10vw;
}
.filtro {
    display: none;
}